body {
    position: relative;
    font-family: din-round, sans-serif !important;
    height: 100vw;
    width: 100vw;
    background-color: aliceblue;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

h3 {
    color: rgb(128, 128, 128);
    font-size: 60px;
    text-align: center;
    margin-bottom: 100px;
}

:root {
    --back-ground-color: rgb(128, 128, 128);
    --button-color: #aaadaf;
    --footer-color: rgb(128, 128, 128, 0.5);
    --pink-color: #d3a0d6;
}

.container {
    width: 480px;
    height: 480px;
    position: relative;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    flex-wrap: wrap;
    display: flex;
    background-color: rgb(var(--back-ground-color), 0.3);
    justify-content: space-around;
    align-items: center;
}

.grid-element {
    user-select: none;
    transition: 1s;
    height: 30px;
    width: 30px;
    background-color: rgb(128, 128, 128);
}

.painting-mode {
    transition: 0s;
}

.active {
    background-color: white;
}

.button-19 {
    transition: opacity 0.3s, transform 0.1s ease-out, filter .2s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: rgb(58, 58, 58);
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: rgb(100, 100, 100);
    cursor: pointer;
    display: inline-block;
    font-family: din-round, sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.button-19:after {
    background-clip: padding-box;
    background-color: aliceblue;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.button-19:main,
.button-19:focus {
    user-select: auto;
}

.button-19:hover:not(:disabled) {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
}

.button-19:hover {
    transform: translate(-50%, -50%) scale(1.2);
}

.button-19:disabled {
    cursor: auto;
}

.wrapper {
    margin: 50px auto;
    position: relative;
    width: 480px;
    height: 480px;
}

.footer a {
    font-size: small;
    text-decoration: none;
    color: aliceblue;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    position: fixed;
    padding: 5px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    background-color: rgb(128, 128, 128, 0.5);
}

.button-new-grid-pos {
    width: 136px;
    top: 1%;
    left: 110%;
}

.close-button-style {
    z-index: 2;
    opacity: 0;
    transition: 1s;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: larger;
    height: 40px;
    width: 40px;
    font-weight: 700;
    border-radius: 20px;
    color: white;
    background-color: #d3a0d6;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: absolute;
}

.close-button-pos-r {
    top: 1%;
    left: 142%;
    position: absolute;
}

.close-button-pos-l {
    top: 1%;
    right: 113%;
    position: absolute;
}

.close-button-style:hover {
    transition : 100ms;
    transform : translateY(-0px);
    color: var(--back-ground-color);
    border: solid 3px var(--back-ground-color);
}

.common-button-style {
    font-weight: 600;
    z-index: 2;
    border: solid 3px transparent;
    font-family: din-round, sans-serif !important;
    white-space: nowrap;
    opacity: 0;
    text-align: center;
    position: absolute;
    transform: 1s, translateY(0);
    font-size: 18px;
    color: #fff;
    background: linear-gradient(95deg, rgb(128, 128, 128, 0.5) 0%, rgb(128, 128, 128, 0.5) 100%);
    padding: 10px 30px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 14px;
    transition : 1s;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    cursor: pointer; 
}

.common-button-style:hover {
    padding: 0;
    border-color: var(--back-ground-color);
    transition : 100ms;
    padding: 10px 27px;
    transform : translateY(-0px);
    background: rgb(128, 128, 128, 0.5);
    color: var(--back-ground-color);
    border: solid 3px var(--back-ground-color);
}

.common-button-clicked-style {
    border-color: var(--back-ground-color);
    transition : 100ms;
    padding: 10px 27px;
    transform : translateY(-0px);
    background: rgb(128, 128, 128, 0.5);
    color: var(--back-ground-color);
    border: solid 3px var(--back-ground-color);
}

@keyframes expandRightRectangle {
    0% {
        width: 1px;
        height: 1px;
    }
    100% {
        width: 228px;
        height: 130px;
    }
}

@keyframes shrinkRightRectangle {
    0% {
        width: 228px;
        height: 130px;
    }
    100% {
        width: 1px;
        height: 1px;
    }
}

@keyframes expandLeftRectangle {
    0% {
        transform: scaleX(0) scaleY(0);
    }
    100% {
        transform: scaleX(1) scaleY(1);

    }
}

@keyframes shrinkLeftRectangle {
    0% {
        transform: scaleX(1) scaleY(1);
    }
    100% {
        transform: scaleX(0) scaleY(0);
    }
}

.container-style {
    transition: 0.5s;
    z-index: 1;
    opacity: 0;
    position: absolute;
    border-radius: 16px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.795), rgba(221, 221, 221, 0.767));
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.right-container-pos {
    top: 0%;
    left: 106%;
}

.slider {
    z-index: 2;
    top: 21%;
    left: 113%;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.slider-number {
    z-index: 2;
    width: 4rem;
    color: rgba(142,143,152,255);
    top: 17%;
    left: calc(124% + 2px);
    position: absolute;
    font-weight: 700;
    opacity: 0;
    transition: 1s;
}

.rainbow-button-style {
    z-index: 2;
    text-align: center;
    font-weight: 600;
    border: solid 3px transparent;
    font-family: din-round, sans-serif !important;
    white-space: nowrap;
    opacity: 0;
    text-align: center;
    position: absolute;
    transform: 1s, translateY(0);
    font-size: 18px;
    color: #fff;
    background: linear-gradient(95deg, var(--footer-color) 0%, #d3a0d6 100%);
    padding: 10px 30px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    border-radius: 14px;
    transition : 1s;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer; 
}

.rainbow-button-style:hover {
    border-color: var(--back-ground-color);
    transition : 100ms;
    padding: 10px 26px;
    transform : translateY(-0px);
    background: linear-gradient(95deg, var(--footer-color) 0%, #d3a0d6 100%);
    color: var(--back-ground-color);
    border: solid 3px var(--back-ground-color);
}

.color-options-button-pos {
    width: 178px;
    top: 1%;
    right: 125%;
}

.left-container-pos {
    transform-origin: top left;
    right: 110%;
    width: 270px;
    height: 480px;
    top: 0%;
}

.color-input-pos {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 72%;
    right: 128%;
}

.color-input-wrapper {
    transform: 1s;
    opacity: 0;
    transition: opacity 1s;
}

.rainbow-mode-button-pos {
    width: 178px;
    top: 15%;
    right: 125%;
}